* {
	@include box-sizing(border-box);
}

html {
	background: fixed $blue no-repeat;
	@include background-image(radial-gradient(50% 50%, #4a6da2, $blue));
}

body {
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.5;
	padding: 0 0 4em 0;

	@include respond-to($medium) {
		line-height: 1.8;
	}
}

a {
	color: #fff;
	color: rgba(#fff, 0.5);

	&:focus,
	&:hover {
		color: rgba(#fff, 0.7);
	}
}