.global-wrapper {
	@extend %centered;
	@include hyphens;
	max-width: 33em;
	text-align: justify;
	text-shadow: -1px 1px 0 rgba(#000, 0.1);
	width: 90%;

	@include respond-to($medium) {
		text-align: left;
	}
}