---
layout: application
---

<article>
	<h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>

	<div>
		{{ content }}
	</div>

	<hr>

	<dl>
		<dt>Date and Time</dt>
		<dd>
			<time datetime="{{ page.dtstart | datetime_to_iso_string }}">{{ page.dtstart | datetime_to_string }} from {{ page.dtstart | date: "%-I:%M %p" }}</time> to
			<time datetime="{{ page.dtend | datetime_to_iso_string }}">{{ page.dtend | date: "%-I:%M %p" }}</time>
		</dd>

		<dt>Location</dt>
		<dd>
			{% assign venue = site.data.venues[page.venue] -%}

			<a href="{{ venue.url }}">{{ venue.name }}</a><br>
			{{ venue.address }}
		</dd>

		{% if page.speakers -%}
			<dt>Speaker(s)</dt>
			{% for speaker in page.speakers -%}
				{% assign person = site.data.speakers[speaker] -%}

				<dd><a href="{{ person.url }}">{{ person.name }}</a></dd>
			{% endfor -%}
		{% endif -%}

		<dt><abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr></dt>
		<dd><a href="{{ page.rsvp.url }}">{{ page.rsvp.name }}</a></dd>
	</dl>
</article>
