---
layout: application
---

<article class="vevent">
	<h1><a href="{{ page.permalink }}" class="url summary">{{ page.title }}</a></h1>

	<div class="description">
		{{ content }}
	</div>

	{% if page.speakers %}
		<h2>Speaker(s)</h2>

		<ul>
			{% for speaker in page.speakers %}
				<li><a href="{{ speaker.url }}">{{ speaker.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}

	<h2>Details</h2>

	<ul>
		<li>
			<time class="dtstart">{{ page.dtstart | date: "%B %d, %Y %l:%M" }}</time>–<time class="dtend">{{ page.dtend | date: "%l:%M %p" }}</time>
		</li>
		<li>
			<a href="{{ page.location.url }}" class="fn org url">{{ page.location.name }}</a><br>
			<span class="adr">{{ page.location.address }}</span>
		</li>
		<li><a href="{{ page.rsvp.url }}">{{ page.rsvp.name }}</a></li>
	</ul>
</article>