---
layout: application
---

<div class="event h-event">
  <h1 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h1>

  <div class="p-description">
    {{ content }}
  </div>

  <dl>
    <dt>Date and Time</dt>
    <dd>
      <time class="dt-start" datetime="{{ page.dtstart | datetime_to_iso_string }}">{{ page.dtstart | datetime_to_string }} from {{ page.dtstart | date: "%-I:%M %p" }}</time> to
      <time class="dt-end" datetime="{{ page.dtend | datetime_to_iso_string }}">{{ page.dtend | date: "%-I:%M %p" }}</time>
    </dd>

    <dt>Location</dt>
    <dd class="p-location h-card">
      {% assign venue = site.data.venues[page.venue] -%}

      <a href="{{ venue.url }}" class="p-name u-url">{{ venue.name }}</a><br>
      <span class="p-adr h-adr">{{ venue.address }}</span>
    </dd>

    {% if page.speakers -%}
      <dt>Speaker(s)</dt>
      {% for speaker in page.speakers -%}
        {% assign person = site.data.speakers[speaker] -%}

        <dd><a href="{{ person.url }}" class="h-card">{{ person.name }}</a></dd>
      {% endfor -%}
    {% endif -%}

    <dt><abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr></dt>
    <dd><a href="{{ page.rsvp.url }}" class="u-syndication">{{ page.rsvp.name }}</a></dd>
  </dl>
</div>
