/* @group Layout */

html {
	background: fixed #324b83 no-repeat;
	background-image: -moz-radial-gradient( 50% 50%, circle farthest-side, #4a6da2 0, #324b83 90% );
	background-image: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 500, from( #4a6da2 ), to( #324b83 ) );
	color: #fff;
	font: 16px/160% "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

header {
	display: block;
}

article {
	display: block;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	max-width: 600px;
	min-width: 400px;
	padding: 15% 0 10% 0;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
	width: 40%;
}

article h1 {
	margin: 0 0 30px -36px;
}

article h1 a {
	background: url("../images/logo.png") no-repeat 0 0;
	display: block;
	height: 58px;
	overflow: hidden;
	text-indent: -9999px;
	width: 321px;
}

article p {
	margin: 20px 0;
}

article p em {
	background: rgba( 255, 255, 255, 0.15 );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	margin-right: 4px;
	padding: 1px 6px;
}

article a {
	color: rgba( 255, 255, 255, 0.5 );
	text-decoration: underline;
}

article a:hover,
article a:focus {
	color: rgba( 255, 255, 255, 0.7 );
}

section {
	background: rgba( 0, 0, 0, 0.1 );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: block;
	margin: 40px -30px 0 -30px;
	padding: 30px;
}

section h1 {
	font-size: 22px;
	margin: 0;
}

footer small {
	display: block;
	font-size: 11px;
	line-height: 140%;
	margin-top: 50px;
}

/* @end */


/* @group Recent Tweets */

section#tweets {
	background-image: url("../images/twitter-bird.png");
	background-position: 170px 15px;
	background-repeat: no-repeat;
	display: none;
}

li.hentry {
	font-size: 14px;
	line-height: 140%;
}

li.hentry:before {
	color: rgba( 255, 255, 255, 0.3 );
	content: "\00A7";
	display: block;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

li.hentry:first-child:before {
	display: none;
}

li.hentry p {
	margin: 10px 0;
}

li.hentry a {
	color: #fff;
	text-decoration: none;
}

/* @end */


/* @group Mobile styles */

@media screen and ( max-device-width: 480px ) {
	article {
		min-width: 0;
		width: 90%;
	}
	
	section {
		margin-left: 0;
		margin-right: 0;
	}
}

/* @end */