.global-header {
	padding: 4em 0 1em 0;

	@include breakpoint($bp-medium) {
		padding-top: 8em;
	}

	h1 {
		margin: 0 0 0 em($target: -34, $context: 32);
	}

	a {
		@extend %image-replace;
		@include layout-sprite("logo");
		background: none, image-url("unique/logo.svg") no-repeat 0 0;
		@include background-size(contain);
		display: block;
		height: 75px;
		position: relative;
		width: 300px;

		&:focus,
		&:hover {
			opacity: 0.8;
		}
	}
}