@-ms-viewport{
	width: device-width;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-attachment: fixed;
	background-color: $color-blue-dark;
	background-image: radial-gradient(50% 50%, $color-blue-light, $color-blue-dark);
	background-repeat: no-repeat;
	box-sizing: border-box;
	line-height: 1.15;
}

body {
	color: $color-white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0 0 4rem 0;
}

footer,
header,
main {
	display: block;
}

h1 {
	font-size: 2rem;
	margin: 0.67rem 0;
}

hr {
	background-color: $color-white;
	background-color: rgba($color-white, 0.15);
	border: 0;
	box-sizing: content-box;
	height: 0.125rem;
	margin: 2rem auto;
	overflow: visible;
	width: 50%;
}

a {
	-webkit-text-decoration-skip: objects;
	background-color: transparent;
	color: $color-white;
	color: rgba($color-white, 0.5);

	&:focus,
	&:hover {
		color: rgba($color-white, 0.7);
	}
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}
