.events-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(45rem) {
    li:hover {
      list-style: decimal-leading-zero;
    }
  }

  li + li {
    margin-top: 1.5rem;
  }

  a {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  time {
    display: block;
  }
}
