.global-header {
	padding: 4em 0 1em 0;

	@include breakpoint($bp--medium) {
		padding-top: 8em;
	}

	h1 {
		margin: 0 0 0 -1.0625em;
	}

	a {
		background: asset-url("logo.png") no-repeat 0 0;
		background: none, asset-url("logo.svg") no-repeat 0 0;
		background-size: contain;
		display: block;
		height: 75px;
		overflow: hidden;
		position: relative;
		text-indent: 100%;
		text-shadow: none;
		white-space: nowrap;
		width: 300px;

		&:focus,
		&:hover {
			opacity: 0.8;
		}
	}
}
