.global-content {
	@include breakpoint($bp-medium) {
		line-height: 1.8;
	}

	p + p {
		margin-top: 1.5rem;
	}

	.highlight {
		background-color: $color-white;
		background-color: rgba($color-white, 0.15);
		border-radius: 3px;
		font-style: normal;
		margin-right: 0.25rem;
		padding: 0.25rem 0.4rem;
	}
}
