.global-content {
	p + p {
		margin-top: 1.5em;
	}

	.highlight {
		background: rgba($color-white, 0.15);
		border-radius: 3px;
		font-style: normal;
		margin-right: 0.25em;
		padding: 0.25em 0.4em;
	}
}
