.event {
  & dl {
    background-color: rgba(255 255 255 / 15%);
    border-radius: 0.25rem;
    padding: 1.5rem;
  }

  & dt {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  & dd {
    margin-left: 0;

    & + dt {
      margin-top: 1rem;
    }
  }
}
